.profile__edit {
  display: flex;
  padding-top: 18px;
  border: 1px solid yellow;
}

@media screen and (max-width: 920px) {
  .profile__edit {
    justify-content: center;
    padding-top: 10px;
  }
}

