.card_heart-like {
  border: none;
  width: 21px;
  height: 18px;
  background-image: url('../../../images/heartb.svg');
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 22px 0 0 0;
  transition: opacity 1s linear 1s;
  
}

.card__heart:hover {
  opacity: .5;
  cursor: url(../../../images/hand.png), auto;
}