@import url('../card/__caption/card__caption.css');
@import url('../card/__heart/card__heart.css');
@import url('../card/__image/card__image.css');
@import url('../card/__image-caption/card__image-caption.css');
@import url('../card/__trash/card__trash.css');
@import url('../card/__like/card__like.css');

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0;
  position: relative;
  overflow: hidden;
}