.popup-image__container {
  width: 75vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 90px;
  align-self: center;
}

@media screen and (max-width: 767px) {
  .popup-image__container {
    margin-top: 136px;
  }
}