@import url(./__copyright/footer__copyright.css);

.footer {
  padding: 66px 199px 60px 199px;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 36px 71px 60px 71px;
  }
}

@media screen and (max-width: 920px) {
  .footer {
    padding: 36px 160px 36px 160px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
   padding: 48px 19px 36px 19px;
  }
}