.popup-card__close-button {
  width: 40.7px;
  height: 40.7px;
  border: 0;
  background-color:rgba(0, 0, 0, 0);
  background-image: url(../../../images/close-button.svg);
  background-size: 40.7px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: background-image 1s linear;
}

.popup-card__close-button:hover {
  background-image: url(../../../images/close-button-gch.svg);
  cursor: url(../../../images/hand.png), auto;
}


@media screen and (max-width: 1279px) {
  .popup-card__close-button {
    width: 30px;
    height: 30px;
    background-size: 30px;
    top: -30px;
    right: -30px;
  }
}
